body {
  font-family: 'EB Garamond', serif;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  background-image: url('img/picture black background for.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #0d0f10;
  color: #fff;
  align-items: center;
  height: auto; 
  padding: 1vw;
}

header a {
  margin: 0 1.5vw;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}

header a:hover {
  background-color: #1e2224;
}

main {
  padding: 2vw;
}

.footer {
  background-color: #0d0f10;
  color: #fff;
  padding: 1vw;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.h2 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.h4 {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

section {
  padding: 1.5vw;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2vw;
}

.photo img {
  display: block;
  margin-right: 1vw;
  margin-left: 2vw;
  width: 15vw;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: block;
  margin: 2vw auto;
  width: 100%;
  max-width: 70vw;
  height: auto;
}

.textbox {
  display: flex;
  margin-bottom: 1vw;
  width: auto;
}

.cont{
  display: flex;
  justify-content: space-between;
}

.sms{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.map{
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1vw;
}

.form-input {
  border: 0.1vw solid #1c2f45; 
  box-sizing: border-box; 
  border-radius: 1vw;
  width: 100%;
  padding: 0.7vw;
  margin-bottom: 1vw; 
}

.submit-button {
  background: #323d46; 
  border-radius: 1vw; 
  font-size: 1vw;
  line-height: 2vw; 
  text-align: center; 
  color: #FFFFFF;    
  margin-bottom: 15px;
}

.gallery {
  max-width: 90vw; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery a {
  flex: 0 0 18%; 
  height: auto; 
  margin: 0.5vw;
  overflow: hidden; 
  transition: .3s;
}

.gallery a img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery a img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  header {
    flex-direction: column;
  }
  .photo img{
    width: 30vw;
  }

  .gallery a {
    flex: 0 0 30%; 
  }
  .form-input {
    max-width: 90vw;
  }
  .sms{
    width: 100%;
  }
  .map{
    width: 100%;
    height: 70vw;
  }
  section {
    flex-direction: column; 
    align-items: center; 
  }
}
